[2018-10-31 17:29] mkusiciel opened #6 "Is django-templated-mail necessary?"
In my opinion `django-templated-mail` is not necessary at this time. Email backend is really simple and it should stay that way.

[2018-10-31 17:33] mkusiciel opened #7 "Adapt to Python 2.7"
Should we create separate version of `trench` for Python 2.7? For example 0.X for py2.7 and 1.0 for python3

[2018-11-08 06:33] telostia opened #10 "cannot find django-trench package"
Hi, I cannot install or find the pip package django-trench.
I did a pip search django and it was not listed.

[2018-11-08 15:30] tallpol3 commented on #10
Hi @telostia , we've been in a pre-released stage, but today the package has been finally released, so you can install it now using pip. Looking forward your feedback, thanks.

[2018-11-08 15:43] #10 closed

[2018-11-08 20:20] mkusiciel commented on #7
outdated, reason: #11

[2018-11-08 20:20] #7 closed

[2018-12-21 13:34] tallpol3 commented on #6
We're getting it removed.

[2018-12-21 13:34] #6 closed

[2019-02-05 21:00] lanthos opened #33 "Secret length of 20 won't worth with Google Authenticator"
Hello,

Trying to set this up to use Google Authenticator for MFA and the secret that is returned is 20 characters long.  The Google auth app requires 16 characters.  I'm not sure if there are requirements on any others but it might make sense to make this a variable in the settings file for the app MFA method.  I'm happy to do a PR for this if you would like.

Cheers!

[2019-02-06 00:35] lanthos opened #34 "Authentication credentials were not provided"
Hello again!

Also running into a separate issue where I'm able to get the ephemeral_token (I changed the code in my virtualenv to return a 16 digit key and I was able to add it to Google auth) but when I send that plus the generated code I get the following:

`curl -X POST http://localhost:8000/auth/login/code/ -d 'code=260286&ephemeral_token=6c59369d-2f77-4e90-939d-be9ab5794af8-pmh8ix-791be5511d

[2019-02-06 12:32] tallpol3 commented on #33
Hi Jeremy,
Thanks for the hint. On what platform do you run Google Authenticator app? I've tested couple of secret keys of different length with app on Android and it accepts all keys > 16 characters. There were some known issues with that on iOS.

But overall it's good idea to add setting for that, so go ahead with PR. We'll add it in new release.

[2019-02-06 18:45] lanthos commented on #33
Hi Bartek,

PR submitted!  I, and most of the people at my company, are using iOS and it does have that restriction.  I've made the defaults to be 20 so it was the same as you had previously but it might be worth putting this to 16 to have broader default compatibility?  While I did update the docs, not everyone reads those. :D

[2019-02-06 19:16] tallpol3 commented on #34
Thanks Jeremy. Need to have a look at this certainly. Can you share the way how UUIDs for PKs are implemented in your project?

[2019-02-06 19:29] lanthos commented on #34
Hi Bartek,

Certainly!  `id = models.UUIDField(primary_key=True, default=uuid.uuid4, editable=False)`

This will generate a PK similar to: `6561cc29-5c68-487e-bcb4-0563d7ec3a1b`

As the app is splitting on the `-` character that causes some problems with the expected results (although I don't think that's the reason I'm getting the 401, since when I changed that locally I still got the 401).

[2019-02-07 21:08] jmaslanka commented on #34
My bad, standard Django's implementation uses split by `-` (https://github.com/django/django/blob/c52ecbda615594750ae59b789313a29893950b3d/django/contrib/auth/tokens.py#L31) and I just followed that without realizing UUID also can be used as PK (CharFields can too...). This needs to be changed in some way if we want to keep PK in token.

[2019-02-07 21:26] jmaslanka commented on #34
Not a bad idea, would like to keep DB queries to minimum though (only one `.get()` to User table now.)

[2019-02-07 21:37] jmaslanka commented on #34
But... Is MFAMethod object created at this point?

[2019-02-08 07:48] tallpol3 commented on #34
@jmaslanka MFAMethod is already there cause we're using 2nd step of authentication, means user activated at least one method already.

I came to another idea. I know what's the purpose of using token, but in this case we could return user's pk separately to ephemeral_token in serializer, what would save as splitting it from a token and make it independent from whatever value is used in user's pk.

[2019-02-08 22:05] jmaslanka commented on #34
@tallpol3 But what if its the first method? Well, since user should be logged in at this point we can just take logged user and remove pk from this token ¯\_(ツ)_/¯

[2019-02-12 14:05] tallpol3 commented on #34
Hi Jemery.
Turns out that solution is actually quite simple. Checkout #36. I've run all tests on User model using UUID as PK and it seems to work fine.

[2019-02-12 16:58] lanthos commented on #34
@tallpol3 Very nice!

[2019-02-12 18:44] lanthos commented on #34
@tallpol3 I've made the change to my local copy but I'm still running into issues. :( I'm able to activate everything correctly but when I try and connect to /auth/login/code/ I'm getting a 401 saying the credentials were not provided.  Is there anything that you can think of that would be causing this bit not to work or how I can further troubleshoot this?   I use PAW for accessing API endpoints

[2019-02-12 20:27] tallpol3 commented on #34
@lanthos What's the _WWW-Authenticate_ header on the response? 401 you're getting is a generic DRF exemption and the endpoint view inherit from GenericAPIView, so I'd start checking from DEFAULT_AUTHENTICATION_CLASSES.

[2019-02-12 21:06] lanthos commented on #34
@tallpol3 here are the headers:

HTTP/1.0 401 Unauthorized
Content-Type: application/json
WWW-Authenticate: Bearer realm="api"
Vary: Accept, Accept-Language, Cookie, Origin
Allow: POST, OPTIONS
Content-Language: en
X-Frame-Options: SAMEORIGIN
Content-Length: 77
Server: Werkzeug/0.14.1 Python/3.6.5
Date: Tue, 12 Feb 2019 20:57:53 GMT

{"status_code":401,"message":"Authentication credentials were no

[2019-02-13 08:22] tallpol3 commented on #34
@lanthos According to the header, Simple JWT authentication, being the first default, kicks in on the view where it shouldn't, so please dive deeper into your middleware.
 If you're using login_required, consider replacing permission policy with [DRF approach](https://www.django-rest-framework.org/api-guide/permissions/#setting-the-permission-policy)

[2019-02-13 23:15] lanthos commented on #34
I've removed all of the middleware we were using and I was still getting the same 401.  We had the default_permission_classes setup as well with `rest_framework.permissions.IsAuthenticated`.  So I've uncommented that and I'm getting slightly further.  Any ideas why this part would be failing?  It seems to not like the backup_code.

`Traceback (most recent call last):
  File "/Users/lanthos/.virtua

[2019-02-19 21:09] lanthos commented on #34
Update: if I set `"ENCRYPT_BACKUP_CODES": False` then I'm able to successfully authenticate using an ephemeral_token and the access code that is generated from my app.  I still need to look into why having `"DEFAULT_PERMISSION_CLASSES": ("rest_framework.permissions.IsAuthenticated",)` set causes this to not correctly pass along the credentials to the /auth/login/code/ endpoint but this is some pro

[2019-02-21 22:37] lanthos commented on #34
ok got it!  I'm not sure how to make this fix work for the overall project but what I ended up having to do was add `permission_classes = [AllowAny, ]` to the `MFACodeLoginMixin` class.  This will make sure that there was nothing like a default permission class that was getting in the way of hitting that endpoint.  Since we have the default permission class to be IsAuthenticated we could never get

[2019-03-05 11:40] tallpol3 commented on #33
Hi Jeremy,
Time to close the issue. All merged and new version released.

[2019-03-05 11:40] #33 closed

[2019-03-05 11:40] tallpol3 commented on #34
Seems that we have the issue solved. Please check new release.

[2019-03-08 10:03] #34 closed

[2019-04-26 15:52] benzkji opened #44 "no attribute '_action' error when trying to verify code"
I've setup django-trench together with djoser. Normal login works, across the trench endpoint (/auth/login). When activating 2FA, I can login, get the ephemeral_token, get the email/sms. But when trying to validate the code, I get the following error (submitting the correct code. with wrong code, there is an error saying "invalid code") :

    .../site-packages/trench/views/authtoken.py", line 9,

[2019-05-01 09:41] benzkji commented on #44
also with `djangorestframework==3.8.2`

any ideas? will dig in a bit...

[2019-05-01 10:13] benzkji commented on #44
found it: https://github.com/sunscrapers/djoser/blob/master/djoser/views.py#L154

looks like this just cannot work, as it is developed now?

[2019-05-01 10:54] benzkji commented on #44
found a solution. PR coming.

[2019-05-04 21:59] SaskoVitaliy opened #46 "CodeLoginSerializer ignores VALIDITY_PERIOD setting"
CodeLoginSerializer uses only DEFAULT_VALIDITY_PERIOD so provided code fails if validity period for concrete MFA method is different than default one.

[2019-05-09 06:35] benzkji commented on #46
also, if one copy pastes the defaults from here: https://django-trench.readthedocs.io/en/latest/settings.html#additional-settings you only have 30 seconds! ;-)

[2019-05-17 09:16] benzkji opened #47 "somehow support "save this browser" feature"
as seen many times.

maybe as a generic solution, that allows to bypass 2FA, given a condition?

[2019-05-20 21:08] tallpol3 commented on #44
Awesome, thanks @benzkji
I'll add some comments on #45, so that we can come to the best solution.

[2019-05-20 21:19] tallpol3 commented on #47
In one of current projects we extended trench with IP whitelisting.
So, what's your idea in depth? Mix user agent data and IP? On our TODO list there is also geolocation. Happy to discuss the topic further.

[2019-05-20 21:22] tallpol3 commented on #46
Guys, thanks for your input. Will have it investigated.
Btw. 30 secs is a lot 😛

[2019-05-21 08:03] benzkji commented on #47
Yes, why not mix it all up ;-) As you said you already implemented IP whitelisting, it would be interesting to have a generic solution, and maybe the most common bypass methods built into trench, easily pluggable.

"save this browser" could be one of these. Implementation details up to discuss - some use cookies (with a secret, as value) to remember and verify a browser (kind of a long living 2FA

[2019-05-21 18:23] tallpol3 commented on #44
Merged, thanks again @benzkji
New release coming soon.

[2019-05-21 18:23] #44 closed

[2019-06-11 07:49] benzkji opened #49 "error when using mutliple auth backends"
Using django-axes, that adds a second authentication backend, I get the following error, from this line: https://github.com/sunscrapers/djoser/blob/master/djoser/utils.py#L19

ValueError: You have multiple authentication backends configured and therefore must provide the `backend` argument or set the `backend` attribute on the user.

When logging in on the "code" endpoint, ie posting the received

[2019-06-11 07:52] benzkji commented on #49
uuu. could be in conjunction with my custom user model...ignore for now!

[2019-06-11 08:02] benzkji commented on #49
has anybody used trench with multiple authentication backends enabled (django-axes is only a special case, of the same scenario...)? after the first, official/password login, that then triggers MFA, the used backend should somewhere be stored, not? Otherwise, it will not be available when the login with code is done.

[2019-06-17 10:25] benzkji commented on #49
On the `MFAMethod` model, add a field called `used_auth_backend`. After login with user/pw, set it according to the used backend, then, when actually login in with code, provide the backend to the `login` method.

I can stick together a PR, if it sounds reasonable? @tallpol3 what do you think?

[2019-07-04 10:33] benzkji commented on #49
any news? any trench users implementing django-axes? also, as I understand, this is only applied when using sessions for auth...jwt and authtoken dont store the backend used to login?!?

[2019-08-20 10:35] mhmrx commented on #49
@benzkji Can you show your settings.py file?

[2019-12-03 00:35] beittenc opened #64 "Django 3.0 Compatibility"
Django 3.0 has now been released and I've run into a minor compatibility issue.  In the SimpleJWT view, there's a reference to the django.utils.six library, which has been removed.

https://github.com/merixstudio/django-trench/blob/c0756a93f0acb8db00482087547842988b22caf3/trench/views/simplejwt.py#L1

If there's a need to maintain Python 2 compatibility, then the text_type method still exists in t

[2019-12-03 13:00] vThaian commented on #64
Thank you @beittenc for added that issue. We do not support Python2 longer so we will remove that unneeded piece of code.

[2019-12-04 11:00] #64 closed

[2019-12-04 11:31] vThaian commented on #49
Make sense for me to assign used backend by the user during the process. I think @benzkji you can create a PR with those changes if you want. @tallpol3 what do you think?

[2019-12-05 07:03] bplociennik opened #68 "testapp - TypeError: Cannot read property 'is_primary' of undefined"
When we logged in and try to switch to another method let's say from e-mail auth to application auth.

![Zrzut ekranu 2019-12-5 o 07 59 27](https://user-images.githubusercontent.com/6594923/70211443-60070600-1735-11ea-936c-ef2d4efe46d8.png)

We click the proper checkbox  and we will decide to abort the changing method by uncheck field then we got the error:

![Zrzut ekranu 2019-12-5 o 08 02 35](ht

[2020-02-06 08:34] nicokant opened #73 "missing EMAIL_PLAIN_TEMPLATE and EMAIL_HTML_TEMPLATE breaks method activation"
Hi, thanks for your fantastic work!

As the title says currently when setting `email` as TRENCH_AUTH MFA method, if no email template is specified the server returns 500 to `/email/activate/`.

I'm currently using django-trench 0.2.3

I'd suggest mentioning it inside documentation, as the error seems to be quite difficult to understand without investigating the stacktrace and the source code. Also

[2020-02-06 08:56] nicokant opened #74 "exception when using Argon2PasswordHasher first in PASSWORD_HASHERS"
Hi,
I use cookiecutter-django in a project, which by default use in this settings
[code]
This seems to create a problem with login code verification, in particular when using Argon2PasswordHasher as first hasher

[2020-02-06 11:15] nicokant opened #75 "automatically enable MFA on user creation"
Hi,
is it possible to enable with a signal the email MFA method for a user that just signed up, without using the `[method]/activate/` endpoint?

[2020-02-21 16:43] nicokant commented on #75
For anyone running in the same issue I resolved using the following code:
[code]

[2020-02-21 16:43] #75 closed

[2020-02-22 16:58] mostaszewski commented on #74
Hello @nicokant, could You please post a little bit more information about this issue? At least information about raised exception. We will do our best to help You :-)

[2020-03-16 20:33] ckcollab commented on #47
Would it make sense to store this information/flag in a server-side cookie? That way it's not by IP or anything, just trusting the particular device storing the cookie. I _think_ this makes sense?

[2020-03-17 08:14] benzkji commented on #47
sure. what we would need, is a pluggable system, where devs could add their own whitelisting methods. some builtin would be nice, cookie and ip for example, as basic showcases.

[2020-07-21 08:09] Ryszyy commented on #49
I think that issue was resolved with this PR:
https://github.com/sunscrapers/djoser/pull/481

[2021-02-09 10:47] cobyrne09 opened #88 "Request Resend"
Hey there, while you have the 'request resend' functionality in your demo project, it doesn't seem as though there is an actual endpoint for this? I just want to make sure before I try to build this myself!

Assuming I need to build this, I suspect you would just POST the ephemeral token and the method, and a new code would be sent, and you would keep the same ephemeral token. Does that sound OK t

[2021-03-02 22:08] be-studio opened #89 "Error: “Secrets must be at least 160 bits.”"
When trying to post to the `/authenticate` endpoint I get a 500 server error and the error message reads: “Secrets must be at least 160 bits”. This only occurs in production; it works with no issues in development. I really need to get this working as a deadline is upon me. Can you please help?

P.S. Using a Docker microservices setup. There are near identical settings between dev and prod, and th

[2021-03-15 19:33] reddytocode commented on #89
In settings add
`TRENCH_AUTH = {
    'SECRET_KEY_LENGTH': 32,
    ...
  }
  `
maybe can help, the error is thrown when this secret is less than 32
I guess is in the pyotp library

[2021-03-16 12:00] be-studio commented on #89
Thank you @reddytocode . That solves the problem.

[2021-03-16 12:00] #89 closed

[2021-04-02 02:09] reyesvicente opened #95 "Annoying error with drf_yasg"
After I installed `django-trench` I started getting this error. I tried to look it up online but didn't see any fix to it.

[code]

[2021-04-03 15:54] ZakiChammaa opened #96 "Project still maintained?"
Is this project still maintained? Seems like it's been a while since the last commit. Thanks!

[2021-04-06 09:12] allow-cookies commented on #96
HI! Yes, it was a while but we're on it to bring it back to life again 🙂

[2021-04-06 09:16] #96 closed

[2021-06-11 13:50] SirWumpus opened #106 "How / when is `/auth/code/request/` intended to be used?"
Tried to use `/auth/code/request/` for login.  It is a protected route and needs to know the logged in user, so no good for resending login code.

Tried it for resending the activation code and it fails with `{"detail":"Not found."}`, because I think its trying to find the method that is not yet activated.

I'm confused by `/auth/code/request/`, because it doesn't appear to work for what I assumed

[2021-07-07 12:48] spiria-sayeghr opened #108 "issue with drf-spectacular"
Describe the bug
Using drf-spectacular and Django-Trench causes the swagger docs to no longer be generated.

I get the following error
django.core.exceptions.ImproperlyConfigured: "^(?P<method>[^/]+))/activate/$" is not a valid regular expression: unbalanced parenthesis at position 18

To Reproduce
setup drf-spectacular for your project
pip install django-trench
include path('auth/', include('tren

[2021-07-07 14:20] spiria-sayeghr commented on #108
This issue is fixed in the latest version of drf-spectacular.

[2021-07-07 14:20] #108 closed

[2021-08-13 05:41] bhuiyanmobasshir94 opened #110 "Request for a release"
Your develop version got really good updates where your stable release is far behind. I think you can release a new version from here. And please add a setting for SANDBOX OTP. Thank you.

[2021-09-27 15:07] ckarli opened #112 "phone_number field in different model"
I didn't extend AbstractUser model. Instead I've created a Profile model and connected it to User model with a foreign key. How can I use the phone_number field I've created on the Profile model?

[2021-10-26 11:32] allow-cookies opened #118 "We might want to change this to `drf_spectacular` in a future release."
We might want to change this to `drf_spectacular` in a future release.

_Originally posted by @lukzmu in https://github.com/merixstudio/django-trench/pull/111#discussion_r731162983_

[2021-11-01 07:40] Frikster opened #119 "Table testapp_user has no column named yubikey_id"
**Describe the bug**
When you try to create a superuser in the example demo app you get `django.db.utils.OperationalError: table testapp_user has no column named yubikey_id`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [Sample App documentation](https://django-trench.readthedocs.io/en/latest/examples.html#examples)
2. Make sure after cloning that you are on the demo branch and f

[2021-11-02 19:45] Frikster commented on #106
I am likewise confused. I am trying to add MFA to a user using '/yubi/activate/` and it also cannot identify that the user is authenticated:

![image](https://user-images.githubusercontent.com/10172142/139941451-cb22604b-894d-4877-b4a1-bbfdcc65d31c.png)

If I however go to `/admin` I can see the test user _is_ authenticated:

![image](https://user-images.githubusercontent.com/10172142/139941356-40

[2021-11-02 21:03] Frikster opened #120 "KeyError prevents Yubico MFA activate for a user"
**Describe the bug**
A KeyError prevents Yubico MFA activation at endpoint `auth/yubi/activate/`

**To Reproduce**
Steps to reproduce the behavior:
1. Follow [installation instructions](https://django-trench.readthedocs.io/en/latest/installation.html) and set up with `djangorestframework-simplejwt` authentication (i.e. `/auth/login/` endpoint)
2. Ensure you can authenticate a user at the `/auth/lo

[2021-11-29 14:31] allow-cookies commented on #46
Fixed in new version `0.3.0`

[2021-11-29 14:31] #46 closed

[2021-11-29 14:33] allow-cookies commented on #49
With the new release we are not relying on `djoser` anymore. Closing.

[2021-11-29 14:33] #49 closed

[2021-11-29 14:34] allow-cookies commented on #73
@nicokant could you please verify whether this issue still emerges in the new `0.3.0` version?

[2021-11-29 14:34] #73 closed

[2021-11-29 14:45] allow-cookies commented on #68
Testapp's front end is removed in the new release.

[2021-11-29 14:45] #68 closed

[2021-11-29 14:46] allow-cookies commented on #110
Done!

[2021-11-29 14:46] #110 closed

[2021-11-29 17:54] benzkji commented on #49
does django-trench still support using it together with djoser? at least there are still some urls.py examples with djoser....just curious...

[2021-11-30 08:27] allow-cookies commented on #49
No, we've decided to not use `djoser` anymore as there was no further need to do so. Of course this doesn't mean that you can not use `djoser` along with `django-trench` - you still can 🙂

[2021-11-30 08:56] benzkji commented on #49
thanks for clarifying!

[2021-12-14 11:00] bplociennik commented on #95
This view is not existing anymore in the recent version of the trench.
@reyesvicente let me know if you cannot swap to a new version of the trench, I will be happy to help you with the older version issues then (feel free to reopen this issue in that case).

[2021-12-14 11:00] #95 closed

[2022-01-09 16:32] camelgod opened #123 "Trying to activate, code is always Invalid or Expired."
**Describe the bug**
Trying to activate MFA on the `/app/activate/confirm/` always give the following response:
[code]
Any leads or tips or tricks would be really appreciated! :)

**To Reproduce**
Steps to reproduce the behavior:
1. Using Insomnia or Postman, login and get token
2. Use token as bearer, make request to `127.0.0.1:8000/auth/app/activate/`
3. Get the otpauth, make QR code and scan wi

[2022-01-10 22:21] camelgod commented on #123
Seems like the way "app" is validated is different from email. Email works fine, copying email secret over to App method also works. Could it be something with timezones?

There is alot of timezone stuff in https://github.com/pyauth/pyotp/blob/develop/src/pyotp/totp.py#L11 but I dont understand any of it..

[2022-01-11 01:05] camelgod commented on #123
The situation seems like the following:

Activate MFA "app", but Token Time has to be set to 1 second on the TOTP generator is the only way it works.. We expected 30.

Is there a way to force token time to 30? Or is it a bug that it´s validating only on codes generated from 1?

Is it even possible to scan the QR-code with token time 1?  There is no way to set it in Google Authenticator to 1.

[2022-01-27 15:07] allow-cookies commented on #123
Each MFA method has a `VALIDITY_PERIOD` property which can be set to any number of seconds per MFA method (by default it's 30`).`

For example, for `sms_twilio` MFA method you can find:

https://github.com/merixstudio/django-trench/blob/27b61479e6d494d7c2e94732c1d186247dac8dd9/trench/settings.py#L79

and by overriding this value you can set the validity period to any value of your choice.

Is this

[2022-01-27 22:22] camelgod commented on #123
Just a disclaimer I'm not super familiar with the TOTP / pyotp libraries, but I will try my best to explain my thoughts

I tried to set the validity period while debugging this but the issue still the same. My guess is that the TOTP initialisation interval and Token Validity are two different things and should have different settings. If validity period is supposed to adjust the interval used in p

[2022-01-28 09:41] allow-cookies commented on #123
Ok, thank you for your explanation. I will take a deeper look into it.

[2022-02-15 09:55] allow-cookies opened #125 "Zapier integration testing"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-02-15 09:56] #125 closed

[2022-02-21 13:34] #123 closed

[2022-02-24 15:11] jbgury opened #132 "Backup Codes management issue"
**Describe the bug**
Storage for backup codes was changed (from 0.3.0 to 0.3.1)
Previously in 0.3.0, it did not work because some simple quote or delimiter for list were stored in _backup_codes column and not well managed for retrieving.

Now with version 0.3.1, delimiter has changed and use only '|' delimiter between different backup codes. Migration was not supported, and users have to migrate t

[2022-02-28 13:54] talolard opened #133 "Is integration with Djoser gone in 0.3.x ?"
Hi and thanks for the awesome and very helpful library.
I'm trying to upgrade from trench 0.2.3 to 0.3.0 . I noticed that the djoser urls are gone.
Is that forever or is there a workaround to get that working again ?
Thanks

[2022-03-18 12:30] trupus commented on #133
This would interest me as well

[2022-03-24 18:11] niespodd opened #135 "Unclear and incorrect use of DRF's APISettings that makes it impossible to add a custom 2FA backend"
I came across this when I tried to add a custom 2FA backend.

The library uses [APISettings from DRF](https://github.com/encode/django-rest-framework/blob/master/rest_framework/settings.py#L183) as a base class for [TrenchAPISettings](https://github.com/merixstudio/django-trench/blob/master/trench/settings.py#L11):
[code]

This wouldn't be a big deal if [the TrenchAPISettings would not parse `defa

[2022-03-24 22:08] allow-cookies commented on #133
Hi! Thank you for asking this question!

Apparently we forgot to mention this change in our `CHANGELOG.rst` file 😅

Yes, we've decided to abandon the `djoser` integration for good as it was problematic for us due to unfrequent updates of the library. Sadly, there happened issues that weren't fixed for months.

Also, the latest release of the `djoser` library has taken place in October 2020, so we

[2022-03-24 22:08] #133 closed

[2022-03-28 13:51] allow-cookies commented on #135
Hi, thank you for noticing this issue and reporting it. You've made a good point about using the DRF's Settings object. We will try to address this issue in the following release.

[2022-04-08 14:54] Mykhailo-Istomin opened #136 "Invalid code when trying to activate MFA by `app` method"
**Describe the bug**
Invalid code when trying to activate MFA by `app` method
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Send `POST` request to `/auth/app/activate/`
2. Scan your qr code with a mobile app
3. Send `POST` request to `/auth/app/activate/congirm` with body {"code": <CODE>}
4. See error `"code": ["Code invalid or expired."]`

**Expected behavior**
A clear and concise

[2022-04-08 14:56] benzkji opened #137 "2FA cannot be deactivated starting with trench 0.3"
**Describe the bug**
with pre-0.3 versions, I could disable all mfa methods. this is no more possible with trench 0.3 and upwards, is this correct?

**To Reproduce**
try to disable your last enabled mfa method.

**Expected behavior**
should be possible?

[2022-04-08 17:06] ajay-actuary commented on #136
I can confirm the same behavior. in Gentoo Linux I'm able to create the token but unable to validate it. TOTP codes generated in bitwarden & I confirmed the output from the pyotp totp module is the same as the token I generate. My post is as below:

`http --form POST http://127.0.0.1:8000/auth/app/activate/confirm/ 'Authorization: Bearer jwttoken' "code"="503246"`

[2022-04-11 19:13] g3rb3n opened #138 "Twilio requires credentials"
**Describe the bug**
Twilio responds with: twilio.base.exceptions.TwilioException: Credentials are required to create a TwilioClient

**To Reproduce**
Enable sms_twilio and call /twilio/activate

**Expected behavior**
SMS being send by Twilio

**Screenshots**
None

**Desktop (please complete the following information):**
None

**Smartphone (please complete the following information):**
None

**Add

[2022-04-11 19:24] g3rb3n opened #140 "AWS support for SMS"
**Is your feature request related to a problem? Please describe.**
Can not send SMS through AWS SNS.

**Describe the solution you'd like**
Being able to send SMS through AWS SNS.

**Describe alternatives you've considered**
Other SMS providers.

**Additional context**
None

[2022-04-12 10:59] g3rb3n opened #143 "Email backend generates an uncaught exception which results in a 500 response"
**Describe the bug**
When the mail server refuses a connection, django responds with a 500 error.

**To Reproduce**
Steps to reproduce the behavior:
Configure the mail server wrong.
Call /email/activate/
Internal Server Error: /email/activate/
[...]
ConnectionRefusedError: [Errno 111] Connection refused

**Expected behavior**
A 422 error with an json error response.

**Screenshots**
None

**Deskto

[2022-04-12 12:54] g3rb3n opened #145 "Only one backup code is usable"
**Describe the bug**
After using one backup code, all the others are unusable.

**To Reproduce**
Steps to reproduce the behavior:
- /app/activate
- /app/activate/confirm/
- /login/
- /login/code/ Use a backup code
- /login/code/ Use another backup code
Server responds with 401 Invalid or expired code.

**Expected behavior**
All codes should be usable. Also when one code has been used.

**Screensho

[2022-04-13 00:21] g3rb3n commented on #112
With a monkey patch, by adding a phone_number property to the User model.

[code]

[2022-04-13 09:20] g3rb3n opened #147 "Add active methods to /login/ response"
**Is your feature request related to a problem? Please describe.**
Currently /login/ has a method field which gives the primary method. It would be nice if all active methods are in the response, so that a end user can choose which method to use for the second step.

**Describe the solution you'd like**
Add a methods field to the login response with all active method names.

**Describe alternative

[2022-04-14 10:03] g3rb3n opened #149 "Sending of messages fails on SendGrid"
**Describe the bug**
The SendGrid client uses json to do the API request to SendGrid. The subject field is a lazy proxy which not json serializable. This results in an 'TypeError: Object of type __proxy__ is not JSON serializable' error.

**To Reproduce**
Steps to reproduce the behavior:
- implement SendGrid as django email backend with django-sendgrid-v5
- call /email/activate/

**Expected behavi

[2022-04-14 10:32] g3rb3n opened #151 "Lougout url missing"
**Is your feature request related to a problem? Please describe.**
There is a MFALogoutView, but no corresponding url.

**Describe the solution you'd like**
It would be nice if it is included in the trench urls.

**Describe alternatives you've considered**
Defining my own in my project urls is no problem.
[code]
**Additional context**
None

[2022-04-15 12:50] g3rb3n opened #153 "Translations for en de pl have only empty msgstr"
**Is your feature request related to a problem? Please describe.**
Translation files for en, de and pl are available, but the translation strings are empty.

**Describe the solution you'd like**
Translations files with filled in translations.

**Describe alternatives you've considered**
Translating with translation tools.

**Additional context**
None

[2022-04-20 12:50] draskomikic opened #154 "OTP is not working when using Microsoft Authenticator and Cisco Duo"
**Describe the bug**
During the process of activating MFA method the code generated by Google and Lastpass apps is working while for Microsoft Authenticator and Cisco Duo is not working.

The OTP QR code was generated in following format:
`otpauth://totp/MyWebApp:myUser?secret=OTQGJNAJOUQP3UYIETRA2B4XOLJAYRFEP4W37PGYG37K5V35FEJCA7D66DCBZUSLRD3NR45J63CSNDLIJPJGWAT3OIORPGGJOBAIMFTZGCMA3F2U2JC2NJ7AGT

[2022-04-22 14:24] dhruvrajgupta opened #155 "When creating the TOTP URL for Google Authenticator app, the time period is set to 1 and hardcoded"
When creating the TOTP URL for Google Authenticator app, the time period is set to 1 and hardcoded.
This becomes annoying when using Google Authenticator as the codes keep changing within 1 second.
The codes do work but the end user should be given enough time to view the code and enter them in our respective application.

I looked into to the lib and found that changing this particular file:
"/tr

[2022-04-25 09:47] jhurej commented on #137
@benzkji Hey, not sure if I get what you mean. I understand you  you can't disable your last mfa method but is it you primary mfa method? Do you receive `{
    "error": "Deactivation of MFA method that is set as primary is not allowed."
}`  or other type of error?

[2022-04-25 11:43] benzkji commented on #137
I did receive that error, yes (Deactivation of MFA method that is set as primary is not allowed). Must it not be possible to disable my last mfa method, even if it is my primary one? Or is there a way to set it as "not primary"? I dont get the logic behind of it ;-)

[2022-04-25 11:50] jhurej commented on #137
Looks like it's an issue that there's no way of disabling the last mfa method because it's primary. There should be a way of disabling all mfa. I'll fix it soon

[2022-04-25 13:28] benzkji commented on #137
ok, thanks for the feedback. yes it should be possible to remove the last available mfa method, even if it is the primary one (it will always be, I guess ;-). Preventing the removal of the primary mfa method if there are others makes sense, otherwise.

[2022-04-26 15:20] jhurej commented on #136
Thanks for reporting.  @Mykhailo-Istomin Not sure why did you send empty code instead of one time password from you app. Could you specify in what version of django-trench you have this issue?

[2022-04-26 17:06] jhurej commented on #154
Hey @draskomikic, thanks for reporting.Could you specify in what version of django-trench you're facing this issue? It could be probably a duplicate of this issue https://github.com/merixstudio/django-trench/issues/136.  I'll try reproducign it for Microsoft Authenticator and Cisco Duo in django-trench version 0.3.1 in a meantime

[2022-04-27 13:54] jhurej commented on #154
I confirm that after scanning QR code with Microsoft Authenticator app, that codes generated by app doesn't match what's django-trench expects. I'm working on finding the root cause of this behavior.

[2022-04-27 20:37] jhurej commented on #154
@draskomikic I confirm the issue in django-trench 0.3.1 with Cisco Duo Mobile app one time codes. For some reason, it's possible to generate the one time code that django-trench accept but the time window when a given one time code is valid is less than 30 seconds, something like 10 seconds as far I can see. I'll seek for a root cause of that, for now I recommend using Microsoft Authenticator app

[2022-04-28 08:37] draskomikic commented on #154
Hi @jhurej sorry for not being very responsive, and thank you for looking into this issue.

I was using version 0.3.1 with VALIDITY_PERIOD of 60 seconds.

I can confirm that Microsoft Authenticator is working with VALIDITY_PERIOD of 30 seconds.

[2022-04-30 15:51] g3rb3n opened #157 "Extra context for email rendering and dynamic email from address"
**Is your feature request related to a problem? Please describe.**
For sending mfa code emails in a multi Site setup. we need to be able to send mails with more context data, like site.name. The current implementation does not pass the request object to the backend which makes it impossible to use the request in rendering the email templates.

**Describe the solution you'd like**
Pass the request

[2022-05-04 15:27] cloudlessdreams opened #159 "PIP doesn't install the latest version of django-trench"
When installing django-trench

`pip install django-trench`

pip only installs version 0.3.0 even when specifying the version

`pip install django-trench==0.3.1`

it shows as non-existent distribution (even tried --pre as it may have been incorrectly tagged)

<img width="1145" alt="Screenshot 2022-05-04 at 16 01 08" src="https://user-images.githubusercontent.com/12978446/166712781-fef485c1-5f46-4af

[2022-05-06 08:41] #137 closed

[2022-05-06 08:58] benzkji commented on #137
thank you, jukub!

[2022-05-24 20:36] allow-cookies commented on #159
That's probably because we pushed the docs for `v0.3.1` too early, along with the test release to test.pypi.org but haven't deployed the `v0.3.1` release to pypi.org. It should work as expected as of now.

[2022-05-24 20:36] #159 closed

[2022-05-24 20:37] #154 closed

[2022-05-24 20:39] allow-cookies commented on #155
The interval is no more hardcoded and uses the value from configuration. This issue has been fixed in the `0.3.1` release.

[2022-05-24 20:39] #155 closed

[2022-05-24 20:44] #145 closed

[2022-05-31 11:54] wmaciejewskimer commented on #138
Hi @g3rb3n, Twilio credentials should be added in the .env file like in the [example](https://github.com/merixstudio/django-trench/blob/develop/testproject/.env.example#L5)

[2022-06-01 05:52] wmaciejewskimer commented on #112
Hi @ckarli, Does the solution from the above answer work and we can close the issue?

[2022-06-01 06:05] wmaciejewskimer commented on #147
Hi @g3rb3n, As you wrote in alternatives, you can use /mfa/user-active-methods/, there is no need to always return all active methods on login. In response, there is already a primary active method

[2022-06-01 06:05] #147 closed

[2022-06-01 06:46] wmaciejewskimer commented on #149
Hi @g3rb3n, Can you give us an example to reproduce this error? In the [basic example](https://github.com/sklarsa/django-sendgrid-v5#simple) of django-sendgrid-v5 subject is in string and no need for conversion. I've also tried to reproduce this issue and after installation of django-sendgrid-v5 URL /email/activate/ work well.

[2022-06-01 07:53] wmaciejewskimer commented on #153
Hi @g3rb3n, All translation files are waiting to be translated [here](https://www.transifex.com/merixstudio/django-trench/)

[2022-06-01 13:35] #132 closed

[2022-06-01 15:00] sigholmmartin opened #165 "Possible to override serializer/response from successful login request?"
Hi! At a successful login using `/auth/login/code/` i get a correct response like:

[code]

And i can see that `TokenSerializer` is used for the response - but i would like to override the response by firstly changing the key to some other string than "auth_token" and i also would like to pass the User object. Is this possible somehow? Many thanks for a great package!

[2022-06-02 05:42] #151 closed

[2022-06-02 05:43] #143 closed

[2022-06-02 11:25] tiln7 opened #166 "CONFIRM_DISABLE_WITH_CODE=True doesn't work"
I have **CONFIRM_DISABLE_WITH_CODE set to True,** but whenever I want to disable one of the authentication methods by providing a TOTP code in the HTTP payload, I am getting **400 Bad Request (Code invalid)** message back.

Does anybody know why?

[code]
[code]

[code]

[2022-06-02 15:28] #166 closed, assigned to nobody

[2022-06-03 11:28] jaimefma commented on #135
That would be awesome!

[2022-06-07 14:14] #165 closed, assigned to nobody

[2022-06-13 07:34] andruten opened #169 "Reactivating the primary disabled MFAMethod introduces an inconsistent state"
Hi! First of all, thank you for this awesome package!

**Describe the bug**
Reactivating the disabled primary MFAMethod should maintain `is_primary=True`. This is not working as expected because [this statement](https://github.com/merixstudio/django-trench/blob/e5deca4355311fadb3b732d86c7d545001cf421c/trench/command/activate_mfa_method.py#L29) doesn't take into account if the primary method is the

[2022-06-20 15:48] tiln7 opened #171 "Problem with email 2FA method activation"
I am experiencing problems with activating EMAIL 2FA method.

I am either getting back:
- "This field is required" - If I don't provide email field in the POST body
- "User with this email already exists" - If I provide email field in the POST body

**Anybody knows why? Email field isn't required according to the django-trench documentation.**

#settings.py
`
TRENCH_AUTH = {
    "MFA_METHODS": {

[2022-06-20 17:34] Jeanluis019 commented on #171
Same is happening to me.

Seems the problem is [here](https://github.com/merixstudio/django-trench/blob/6a9f3f049b6c1d97fbfd05e0527b693e04c33891/trench/views/base.py#L103), basically the serializer for this view is being generated on the fly and using the method name(email) as a required field.

Also, the serializer is using the `User` model, so when the serializer is called, it's really trying to

[2022-06-21 05:56] tiln7 commented on #171
Hmm, how can we best resolve this?

[2022-06-22 15:23] Jeanluis019 commented on #171
Ok, I was reading and playing with the codebase more deeply and found the real cause of both errors:

**"This field is required":** in my `User` model, the email field can't be blank or null, and since this endpoint's serializer is a `ModelSerializer`, it's using the rules of the model.

**"User with this email already exists":** in my `User` model I set the `unique=True` attribute for the email f

[2022-06-23 16:53] trbateman commented on #135
Thanks for this @niespodd, been scratching my head on this one. Could elaborate on where you have done the monkey patching and override?

[2022-07-27 02:36] cody-lofty opened #173 "Unable to use custom user model with USERNAME_FIELD"
Unable to activate 'app' method when using a custom user model that does not have a `username` field.

In backends/application.py, the default django user model is being imported directly via `from django.contrib.auth.models import User` instead of using `from django.contrib.auth import get_user_model`. This results in an error `"details": "'User' object has no attribute 'username'"` when generati

[2022-08-10 07:26] rockstarr-programmerr opened #175 "ModuleNotFoundError: No module named 'flaky' when run test locally"
**Describe the bug**
This error happens when running test locally
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the instruction in [the local development section](https://github.com/merixstudio/django-trench.git)

**Expected behavior**
All tests pass.

**Desktop (please complete the following information):**
 - OS: Windows 10 with WSL

[2022-08-11 07:23] KHIT93 opened #179 "`/mfa/change-primary-method/` accepts only the MFA code from the primary method"
**Describe the bug**
When switching the primary MFA method, there is an issue, which is either an error in the code or in the documentation. Which one of them it is, is not really for me to decide

**To Reproduce**
Steps to reproduce the behavior:
Configure both `app` and `email` methods and have app as the primary one
Send a request to `/mfa/change-primary-method/` with the following content:
[co

[2022-08-19 09:16] florianvazelle opened #180 "How to test locally the compatibility of the package ?"
Hi, It seems that the `tox.ini` file has been removed in this commit https://github.com/merixstudio/django-trench/commit/2321401d00e29a9e7acd71670f4be9aba9e7ca47

I don't really understand why. I found it useful to contribute to the project.

Can you give me some details about the new way to test locally the compatibility of the package?

[2022-09-23 03:41] ralish opened #181 "Make dependency packages for unused MFA methods optional"
**Is your feature request related to a problem? Please describe.**
Firmly in the "_nice to have_" bucket, but it would be great if more control could be exerted over dependencies where they're unnecessary because the MFA method they support isn't used. This means less dependency packages are installed, which is of particular benefit to those who need to keep careful track of dependencies.

**Descr

[2022-09-28 10:25] maxim25 commented on #169
Is this library still active? How come this is still an open issue?

[2022-10-13 09:56] gertjanvg commented on #173
We are experiencing the same problem, the PR would fix this for us.

[2022-10-27 19:26] jhurej commented on #136
@ajay-actuary I checked the issue using django-trench 3.1  & bitwarden mobile app with trench set as below in settings.py
[code]
As far I can see, there's no issue with Bitwarden if VALIDITY_PERIOD is set to proper value.
<img width="620" alt="Screenshot 2022-10-27 at 21 20 25" src="https://user-images.githubusercontent.com/77105498/198380672-bba0f09a-a85e-45b7-87c1-026168015b96.png">

[2022-10-27 19:26] #136 closed

[2022-10-31 17:47] AndrewModus commented on #171
A potential workaround I used was to create a dummy 2fa email field email_2fa to add as a property to my custom user model. Eg in your `settings.py file` configure the mfa as such:

[code]

And then in your user model add the property
[code]

[2022-11-02 12:29] #175 closed, assigned to nobody

[2022-11-02 15:09] jhurej commented on #173
PR merged to dev, closing

[2022-11-02 15:17] #173 closed, assigned to jhurej

[2022-11-03 12:55] #118 closed

[2022-11-08 09:14] allow-cookies commented on #149
Closing since lack of response for 5 months.

[2022-11-08 09:14] #149 closed

[2022-11-08 09:27] allow-cookies commented on #88
Hey! Sorry for late response. `django-trench` provides the `/code/request` URL that can be used for this purpose. The implementation of this view can be found in `views/base.py::MFAMethodRequestCodeView`

[2022-11-08 09:27] #88 closed

[2022-11-17 10:27] #179 closed, assigned to nobody

[2022-11-17 11:03] wmaciejewskimer commented on #169
Fixed in: https://github.com/merixstudio/django-trench/pull/186

[2022-11-17 11:03] #169 closed, assigned to nobody

[2022-11-18 09:05] #171 closed, assigned to nobody

[2022-11-18 10:46] wmaciejewskimer commented on #153
Closing since lack of response for 5 months.

[2022-11-18 10:46] #153 closed

[2022-11-21 07:21] wmaciejewskimer commented on #112
Closing since lack of response for 5 months.

[2022-11-21 07:21] #112 closed

[2022-11-21 07:28] wmaciejewskimer commented on #157
This is just a basic email method, you can write your own email backend that meets your requirements

[2022-11-22 11:44] wmaciejewskimer commented on #119
@Frikster Does this issue still occur? Now yubikey_id is stored in MFAMethod.secret.

[2022-11-22 12:49] wmaciejewskimer commented on #106
@SirWumpus To resend the activation code use again activation Url: https://django-trench.readthedocs.io/en/latest/endpoints.html#mfa-method-activation
Endpoint to send the code: https://django-trench.readthedocs.io/en/latest/endpoints.html#send-the-code is used for the deactivation method or to generate new backup codes

[2022-11-22 12:56] wmaciejewskimer commented on #120
@Frikster Does this issue still occur? Error https://github.com/merixstudio/django-trench/issues/119 is fixed and there is no error in the test application.

[2022-11-23 10:43] #140 closed

[2022-11-28 08:16] wmaciejewskimer commented on #74
Fixed in the 0.3.0 release https://github.com/merixstudio/django-trench/pull/82#issuecomment-981698082

[2022-11-28 08:16] #74 closed